repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: ruff-lint
        name: ruff-lint
        entry: ruff check movie_ratings_streaming
        language: system
        pass_filenames: false
      - id: ruff-format
        name: ruff-format
        entry: ruff format --exit-non-zero-on-format movie_ratings_streaming
        language: system
        pass_filenames: false
      - id: ty
        name: ty
        entry: ty check movie_ratings_streaming
        language: system
        pass_filenames: false
